<h1>Results Page</h1>

<ul>
    <% data["Search"].forEach(function(movie) { %> 
        <a href="/details"><li><%= movie["Title"]%> - <%= movie["Year"] %> - <img src='<%= movie["Poster"] %>'></li></a>
    <% }) %>
</ul>
<a href="/results">Next Page</a>
<a href="/">Back to Search</a>