<% include partials/header %>

<div class="container">
    <div class="row">
            <h1>Results Page</h1>
            <h4><a href="/">Back to Search</a></h4>
                <% data["Search"].forEach(function(movie) { %>
                    <div class="col-md-3">
                        <a href="/details"><h3><%= movie["Title"]%> - <%= movie["Year"] %></h3><img src='<%= movie["Poster"] %>' class="img-responsive"></a>    
                    </div>
                <% }) %>
    </div>
    <h4><a href="/">Back to Search</a></h4>
</div>


<% include partials/footer %>