<% include partials/header %>

<div class="container">
    <div class="row" id="search">
            <h1>Movie Finder</h1>

            <form action="/results" method="get">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="search term" name="search">
                    <input class="btn btn-info btn-lg" type="submit">
                </div>
            </form>
    </div>
</div>

<% include partials/footer %>